.item-img-container {
    height: 300px;
    width: 100%;
}

.item-img {
    border-radius: 25px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.item-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    gap: 5px;
    overflow: auto;
    padding: 15px;
    -ms-overflow-style: none;
    scrollbar-width: none;

    #{'&::-webkit-scrollbar'} {
        display: none;
    }

}


.item-title {
    // background-color: #F8F8F8;
    padding: 20px;
    border-radius: 8px 8px 8px 8px;

    p {
        color: #8A8A8A;
    }

    h3 {
        margin: 0;
        font-weight: bold;
    }
}

.item-content {
    // background-color: #F8F8F8;
    padding: 10px;
    border-radius: 8px 8px 8px 8px;
}

.item-content img {
    max-width: 100%;
    height: auto;
    width: 100%;
    /* scale to parent width */
    display: block;
    /* prevents inline spacing issues */
    border-radius: 6px;
    /* optional for consistency */
}