.ProseMirror {
  outline: none;
  min-height: 400px;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.ProseMirror table {
  border-collapse: collapse;
  margin: 0;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}

.ProseMirror td,
.ProseMirror th {
  border: 1px solid #ddd;
  box-sizing: border-box;
  min-width: 1em;
  padding: 3px;
  position: relative;
  vertical-align: top;
}

.ProseMirror th {
  background-color: #f3f4f6;
  font-weight: bold;
}

.ProseMirror .selectedCell::after {
  background-color: rgba(200, 200, 255, 0.4);
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

.ProseMirror ul,
.ProseMirror ol {
  padding-left: 1.5rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1em 0;
}
